@import "./_variables.css";
@import "./animation.css";
@import "./transition.css";
* {
    transition: background-color .2s, color .2s;
}
body {
    background-color: var(--bg-color);
    color: var(--sub-color)
}
a {
    color: var(--sub-color);
    text-decoration: none;
    transition: all .1s;
    
    &:hover {
        color: white;
    }
}